*{
  margin: 0px;
  padding: 0px;                            
}
.maincontent{
 background-color: black;
 color: white; 
 line-height: 25px;
 padding-bottom: 500px;                     
}
.main-title{
 margin-left: -61rem;
}
.list{
 font-size:x-large;
 }
 .logo1{
    max-width: 37px; 
    height: auto;   
    margin-left: -85rem;
    margin-bottom: -35px;                      
 }
.clause1{
 margin-left: -65rem; 
 margin-top: 7px;                             
}
.logo2{
 max-width: 37px;
 height: auto;
 margin-left: -85rem ;
 margin-bottom: -35px;                             
}
.clause2{
 margin-left: -56rem; 
 margin-top: 7px;                            
}
.logo3{
 max-width: 37px;
 height: auto;
 margin-left: -85rem ;
 margin-bottom: -35px;                              
}
.clause3{
 margin-left: -58.5rem; 
 margin-top: 7px;                            
}
.logo4{
 max-width: 37px;
 height: auto;
 margin-left: -85rem ;
 margin-bottom: -35px;                               
}
.clause4{
 margin-left: -64rem; 
 margin-top: 7px;                            
}
.logo5{
 max-width: 37px;
 height: auto;
 margin-left: -85rem ;
 margin-bottom: -35px;                                
}
.clause5{
 margin-left: -40rem;
 margin-top: 7px;                             
}