*{
  margin: 0px;
  padding: 0px;                            
}
.navigation{
  background-color: black;
  color: white;
  display:flex;
  justify-content: space-between;
}
.reactLogo{
  max-width: 100px; 
  height: auto; 
  margin-left: 0.5rem;                   
}
.left-title{
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 40px;
  color:dodgerblue;
  position: relative;
  margin-right: 64rem;
  padding-top: 20px;
}
.right-title{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
  position: relative; 
  padding-top: 40px;
  margin-right: 1.5rem;
}